.about {
  margin: auto;
  max-width: 1240px;
  &-collapsibles {
    max-width: 1023px;
    margin: 50px auto 0 auto;
  }
}

// BREAKPOINT PHONE ABOUT
@media screen and (max-width: 1024px) {
  .about {
    &-collapsibles {
      max-width: 90%;
      margin: 20px auto 20px auto;
    }
  }
}
