.about {
  margin: 10px auto;
  max-width: 1240px;
  height: 100%;
  &-collapsibles {
    max-width: 1023px;
    margin: 50px auto;
  }
}

// BREAKPOINT PHONE ABOUT
@media screen and (max-width: 1024px) {
  .about {
    max-width: 90%;
    &-collapsibles {
      margin: 20px auto 20px auto;
    }
  }
}
