.header {
  max-width: 1240px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-nav {
    font-size: $size-desk-subtitle;
    font-weight: $weight-normal;
    &__link {
      margin-left: 3.125rem;
    }
    &__link:hover {
      text-decoration: underline;
      transition: 0.2s linear;
    }
  }
}

// BREAKPOINT PHONE HEADER
@media screen and (max-width: 1024px) {
  .header {
    max-width: 90%;
    margin: 20px auto;
    &__logo {
      width: 145px;
    }
    &-nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      font-size: $size-phone-small;
      &__link {
        text-transform: uppercase;
        margin-left: 0;
      }
    }
  }
}
