.home {
  width: 1240px;
  &-greycard {
    background-color: $grey;
    border-radius: 20px;
    max-width: 1240px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    justify-content: center;
    padding: 50px 0;
    gap: 60px;
  }
}

// BREAKPOINT PHONE HOME
@media screen and (max-width: 1024px) {
  .home {
    max-width: 90%;
    &-greycard {
      background-color: $white;
      grid-template-columns: 100%;
      margin: auto;
      padding: 30px 0;
      gap: 30px;
    }
  }
}
