.housing {
  max-width: 1240px;
  height: 100%;
  margin: 10px auto 50px auto;
  &-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &-header-description {
    &__title {
      margin: 0;
      font-size: $size-desk-title;
      font-weight: $weight-normal;
    }
    &__subtitle {
      margin: 5px 0;
      font-size: $size-desk-subtitle;
      font-weight: $weight-normal;
    }
  }
  &-header-host {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__group {
      display: flex;
      align-items: center;
    }
    &__name {
      text-align: end;
      margin-right: 20px;
      max-width: 93px;
      font-size: $size-desk-text;
      font-weight: $weight-normal;
    }
    &-picture {
      border-radius: 50%;
      overflow: hidden;
      width: 70px;
      height: 70px;
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
  }
}

// BREAKPOINT PHONE HOUSING
@media screen and (max-width: 1024px) {
  .housing {
    width: 90%;
    margin: auto;
    &-header {
      flex-direction: column;
    }
    &-header-description {
      &__title {
        font-size: $size-phone-title;
      }
      &__subtitle {
        font-size: $size-phone-subtitle;
      }
    }
    &-header-host {
      flex-direction: row-reverse;
      justify-content: space-between;
      &__name {
        font-size: $size-phone-small;
        max-width: 50px;
      }
      &-picture {
        width: 32px;
        height: 32px;
      }
    }
    &-description {
      display: block;
    }
  }
}
