// SPINNER
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #ffffffc9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.5s ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  &-item {
    border: 10px solid $grey;
    border-top: 10px solid $red;
    border-bottom: 10px solid $red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.2s linear infinite;
  }
}

// ANIMATION BLUR EFFECT
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

// ANIMATION ROTATION
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
