.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.tag {
  margin: 0 10px 10px 0;
  color: $white;
  background-color: $red;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: $size-desk-small;
  font-weight: $weight-normal;
}

// BREAKPOINT PHONE TAGS
@media screen and (max-width: 1024px) {
  .tag {
    font-size: $size-phone-tag;
  }
}
