@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

//COLORS
$white: #ffffff;
$grey: #f6f6f6;
$black: #000000;
$red: #ff6060;

//GRADIENTS
$gradient: linear-gradient($red, $black);

//MARGINS
// $base-margin: 0px 20px;

//FONTS
$main-font: "Montserrat", sans-serif;

//WEIGHTS
$weight-bold: 700;
$weight-normal: 500;
$weight-light: 400;

//SIZES
//desktop
$size-desk-404: 18rem;
$size-desk-title: 2.25rem;
$size-desk-subtitle: 1.5rem;
$size-desk-text: 1.125rem;
$size-desk-small: 0.875rem;

//mobile
$size-mob-404: 6rem;
$size-desk-title: 1.125rem;
$size-desk-subtitle: 0.875rem;
$size-desk-text: 0.8125rem;
$size-desk-small: 0.75rem;
$size-desk-tag: 0.625rem;
