@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

//COLORS
$white: #ffffff;
$grey: #f6f6f6;
$black: #000000;
$red: #ff6060;

//GRADIENTS
$gradient: linear-gradient($red, $black);

//MARGINS
// $base-margin: 0px 20px;

//FONTS
$main-font: "Montserrat", sans-serif;

//WEIGHTS & SIZES
$weight-title: bold;
$weight-subtitle: normal;
$size-title: 1.5rem;
$size-subtitle: 1rem;
// 36 24 18 14 288 desktop
// 18 14 13 12 10 96 mobile 