@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/card";
@import "./layout/home";
@import "./layout/housing";
@import "./layout/about";
@import "./layout/404";
@import "./layout/footer";
@import "./components/tag";
// @import "./components/dropdown";
@import "./components/carousel";
// @import "./components/stars";

// MAIN ELEMENTS
* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: $red;
}
body {
  font-family: $main-font;
  margin: auto;
  color: $red;
}
